/* FONTS */
@font-face {
    font-family: 'roxborough';
    src: url('../fonts/RoxboroughCF-Light.woff2') format('woff2'),
         url('../fonts/RoxboroughCF-Light.woff') format('woff'),
         url('../fonts/RoxboroughCF-Light.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roxborough';
    src: url('../fonts/RoxboroughCF-LightItalic.woff2') format('woff2'),
         url('../fonts/RoxboroughCF-LightItalic.woff') format('woff'),
         url('../fonts/RoxboroughCF-LightItalic.eot') format('eot');
    font-weight: normal;
    font-style: italic;
}



/* VARIABLES */
:root {
    --lavender:#B4B2DD;
    --coffee: #D6C7AD;
    --black: #191919;
    --white: #FAF9FF;
    --serif: 'roxborough';
    --sans: 'Futura', Arial, sans-serif;
}

.upper {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.italic {
    font-style: italic;
}

.reg {
    font-style: normal;
}

.indent {
    margin-left: 50px;
}

/* TYPOGRAPHY */
html {font-size: 100%;} /*16px*/

body {
    font-weight: 400;
    line-height: 1.5;
    transition: background-color 0.6s cubic-bezier(0.7, 0, 0.7, 1);
}

p {
    margin-bottom: 1.15rem;
    font-family: var(--sans);
}

h1, h2, h3, h4, h5, span {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--serif);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 7.594em;
  }
  
  h2 {font-size: 5.063em;}
  
  h3 {font-size: 3.375em;}
  
  h4 {font-size: 2.25em;}
  
  h5 {font-size: 1.5em;}
  
  small, .text_small {font-size: 0.667em;}

a {
    text-decoration: none;
    color: inherit;
}

/* COLOR SCHEMES */

/* Purple = beige bg, purple color */
/* Brown = brown bg, black color  */
/* Black = black bg, white color  */

html.lavender {
	background-color: var(--lavender);
	color: var(--black);
}

html.lavender svg {
    stroke: var(--black);
}

html.lavender section a {
    border-bottom: 2px solid var(--black);
}

html.coffee {
	background-color: var(--coffee);
	color: var(--black);
}

html.coffee svg {
    stroke: var(--black);
}

html.coffee section a {
    border-bottom: 2px solid var(--black);
}

html.black {
	background-color: var(--black);
	color: var(--white);
}

html.black svg {
    stroke: var(--white);
}

html.black section a {
    border-bottom: 2px solid var(--white);
}

/* FIXED ITEMS */

div.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: 10;
    transition: opacity 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.loading.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Resources Link */
nav.twirl {
    font-family: var(--sans);
    position: fixed;
    top: 40px;
    right: 40px;
    padding: 6px 12px 10px;
    transition: opacity 0.5s ease;
}

nav.twirl a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 14px;
}

nav.twirl a.hidden {
    display: none;
    opacity: 0;
}

/* MAIN */
section {
    margin: 100px;
}

.counter, .main, .details {
    margin-bottom: 150px;
}

.main {
    text-align: right;
    justify-content: flex-end;
}

.details h2 {
    text-align: center;
}

.details {
    justify-content: center;
}

.details .info {
    text-align: left;
    align-items: flex-end;
    margin-bottom: 150px;
}

.details .info p {
    width: 50%;
    text-align: justify;
}


/* .resources .link ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.resources .link a {
    text-decoration: none;
    color: inherit;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.resources .link a:hover {
    color: pink;
    text-shadow:0px 0px 15px pink;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.resources .donate svg {
    margin-right: 100px;
}

.resources .donate h3 {
    padding-left: 50px;
    margin-top: -20px;
} */

/* .resources .link:hover {
    border: 1px solid pink;
} */

/* RESOURCES PAGE */



/* MOBILE */
@media (max-width: 768px) {
    body {
        padding: 1em;
    }

    section {
        margin: 10px;
    }
    
    .row {
        flex-direction: column;
    }

    .counter div.count-up {
        padding-top: 1em;
    }

    .details .info p {
        width: 100%;
    }
}