/* FONTS */
@font-face {
    font-family: 'roxborough';
    src: url('../fonts/RoxboroughCF-Light.woff2') format('woff2'),
         url('../fonts/RoxboroughCF-Light.woff') format('woff'),
         url('../fonts/RoxboroughCF-Light.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roxborough';
    src: url('../fonts/RoxboroughCF-LightItalic.woff2') format('woff2'),
         url('../fonts/RoxboroughCF-LightItalic.woff') format('woff'),
         url('../fonts/RoxboroughCF-LightItalic.eot') format('eot');
    font-weight: normal;
    font-style: italic;
}

/* VARIABLES */
:root {
    --lavender:#B4B2DD;
    --coffee: #D6C7AD;
    --black: #191919;
    --white: #FAF9FF;
    --serif: 'roxborough';
    --sans: 'Futura', Helvetica, Arial, sans-serif;
}

.upper {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.italic {
    font-style: italic;
}

.reg {
    font-style: normal;
}

.indent {
    margin-left: 50px;
}

/* TYPOGRAPHY */

html {font-size: 87.5%;}

body {
    font-weight: 400;
    line-height: 1.5;
    transition: background-color 0.6s cubic-bezier(0.7, 0, 0.7, 1);
}

p, li {
    margin-bottom: 1.15rem;
    font-family: var(--sans);
    text-align: justify;
}

h1, h2, h3, h4, h5, span {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--serif);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 7.594em;
}

h2 {font-size: 5.063em;}

h3 {font-size: 3.375em;}

h4 {font-size: 2.25em;}

h5 {font-size: 1.5em;}
  
small, .text_small {font-size: 0.667em;}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

/* COLOR SCHEMES */

html.lavender {
	background-color: var(--lavender);
	color: var(--black);
}

html.lavender svg {
    fill: var(--black);
}

html.lavender section a {
    border-bottom: 2px solid var(--black);
}

html.lavender .donate .sticker, html.lavender .educate .sticker {
    background-color: var(--coffee);
    color: var(--black);
}

html.coffee {
	background-color: var(--coffee);
	color: var(--black);
}

html.coffee svg {
    fill: var(--black);
}

html.coffee section a {
    border-bottom: 2px solid var(--black);
}

html.coffee .donate .sticker, html.coffee .educate .sticker {
    background-color: var(--lavender);
    color: var(--black);
}

html.black {
	background-color: var(--black);
	color: var(--white);
}

html.black svg {
    fill: var(--white);
}

html.black section a {
    border-bottom: 2px solid var(--white);
}

html.black .donate .sticker, html.black .educate .sticker {
    background-color: var(--lavender);
    color: var(--black);
}

/* FIXED ITEMS */

div.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lavender);
    z-index: 10;
    transition: opacity 1s;
}

div.loading.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Resources Link */
nav.twirl {
    position: fixed;
    top: 40px;
    right: 40px;
    padding: 6px 12px 10px;
    transition: opacity 0.5s ease;
}

nav.twirl a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 14px;
}

nav.twirl a span {
    font-family: var(--sans);
}

nav.twirl a.hidden {
    display: none;
    opacity: 0;
}

.pad-right {
    padding-right: 12px;
}

.pad-left {
    padding-left: 12px;
}


/* MAIN */
section {
    margin: 100px auto;
    max-width: 1080px;
}

.counter, .main, .details {
    margin-bottom: 150px;
}

.main {
    text-align: right;
    justify-content: flex-end;
}

.details h2 {
    text-align: center;
}

.details {
    justify-content: center;
}

.details .info {
    text-align: left;
    align-items: flex-end;
    margin-bottom: 150px;
}

.details .info p {
    width: 50%;
    text-align: justify;
}

/* RESOURCES PAGE */
.header h1 { 
    font-size: 12em;
}

.call, .donate, .share, .educate, .vote {
    margin-top: 100px;
}

/* Call Section */
.call .header .desc, .share .header .desc, .vote .header .desc {
    align-items: flex-end;
    margin-left: 100px;
}

.call .list {
    margin-top: 50px;
}

.call-list .grid, .educate .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    justify-items: start;
    align-items: start;
    margin-left: 100px;
}

.call-list .list-item ul {
    list-style-type: none;
    padding: 0;
}

.call-list .list-item li {
    margin-bottom: 0;
}

.call-list .list-item a {
    border: none;
}

/* Donate Section */
.donate .header h1, .educate .header h1 {
    text-align: right;
}

.donate .header .desc, .educate .header .desc {
    align-items: flex-start;
    margin-left: 50px;
    width: 80%;
}

.donate .donate-details p {
    margin: 50px;
}

.donate .sticker {
    position: absolute;
    right: 33%;
    /* background-color: var(--lavender); */
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: rotate(-10deg);
    transition: all .5s ease;
}

.donate div.sticker:hover {
    transition: all .5s ease;
    transform: rotate(10deg);
}

section .donate .sticker a {
    border-bottom: none;
}

/* Share Section */
.share .share-info {
    margin-top: 50px;
    width: 66.66%;
}

/* Educate Section */
.educate .header .desc {
    margin-left: 100px;
}

.author {
    font-family: 'Futura', Arial, Helvetica, sans-serif;
    font-style: italic;
}

.educate .sticker {
    position: absolute;
    right: 15%;
    /* color: var(--black); */
    /* background-color: var(--lavender); */
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: rotate(10deg);
    transition: all .5s ease;
}

.educate div.sticker:hover {
    transition: all .5s ease;
    transform: rotate(-10deg);
}

section .educate .sticker a {
    border-bottom: none;
}

/* MOBILE */
@media (max-width: 1080px) {
    section {
        margin: 100px;
    }
}

@media (max-width: 768px) {
    body {
        padding: 25px;
    }

    section {
        margin: 0;
    }

    .indent {
        margin-left: 0;
    }

    nav.twirl {
        top: 25px;
        right: 25px;
        padding: 0;
    }

    h1 {
        font-size: 2.6em;
    }

    .header h1 { 
        font-size: 6em;
    }

    .counter, .main, .details {
        margin-top: 150px;
    }
    
    .row {
        flex-direction: column;
    }

    .details .info p {
        width: 100%;
    }

    .call-list .grid, .educate .grid {
        display: flex;
        flex-direction: column;
        column-gap: 0;
        row-gap: 0;
        justify-items: flex-start;
        align-items: flex-start;
        margin-left: 0;
    }

    .call-list .grid .list-item {
        margin-bottom: 25px;
    }

    .educate .grid .list-item {
        margin-bottom: 50px;
    }
    
    .donate .header .desc, .educate .header .desc {
        margin-left: 0;
        width: 100%;
    }

    .donate .donate-details p {
        margin: 25px;
    }

    .donate .sticker {
        right: 15px;
    }

    .share .share-info {
        margin-top: 50px;
        width: 100%;
    }

    .share .share-info p {
        margin-right: 100px;
        text-align: left;
    }

    .educate .list-item p {
        margin: 0 25px;
    }

    .educate .sticker {
        right: auto;
    }

}